*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 0.4em 0;
  display: flex;
  justify-content: space-between;
  grid-gap: 1.5em;
  box-shadow: 0 2px 10px rgba(172, 172, 172, 0.885);
}
header .logo p {
  font-size: 20px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 4px;
  padding: 0.3em 1em;
  margin: 0;
  cursor: pointer;
}
header .nav {
  display: flex;
  grid-gap: 1em;
  margin-right: 1em;
  align-items: center;
}
header .nav a {
  padding: 0 1em;
}
header .nav img {
  width: 1.6em;
  border-radius: 2px;
  transition: 0.25s ease-in-out;
}
header .nav img:hover {
  background-color: rgba(218, 218, 218, 0.578);
}
.wrapper {
  position: absolute;
  width: 100%;
  margin: 2em 0;
  display: grid;
  justify-content: center;
}
.calculator {
  padding: 1em;
  left: 5em;
  top: 6em;
  background-color: #eeeeee;
  border-radius: 1em;
}
.calculator .display {
  margin: 1em 0;
}
.calculator .display #display {
  padding: 1em;
  text-align: end;
  font-size: 20px;
  height: 3em;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  background-color: rgb(206 206 206);
}
.calculator .button_container {
  display: grid;
  grid-gap: 1em;
}
.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
button {
  outline: none;
  border: none;
  padding: 0.8em;
  font-size: 18px;
  border-radius: 1em;
  background-color: #eeeeee;
}
.buttons #clear {
  background-color: #eeeeee;
}
button:hover,
.buttons #clear:hover {
  background-color: azure;
  transition: 0.25s ease-in-out;
}
.buttons #delete {
  background-color: rgb(255, 0, 0);
  color: white;
}
.buttons #equal {
  background-color: black;
  color: white;
}
.buttons #delete:hover,
.buttons #equal:hover {
  transform: scale(1.08);
  transition: 0.25s ease-in-out;
}
.calculator #id {
  text-align: end;
  color: rgb(127, 197, 255);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

@media all and (min-width: 600px) {
  button {
    padding: 1em;
  }
}
